name: Build & Push Docker Image to Docker Hub

on:
  pull_request:
      types: [closed]

env:
  DOCKER_IMAGE_NAME: python-uv

permissions:
  contents: write

jobs:
  bump-version:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.get_tag.outputs.tag }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install commitizen
        run: |
          python -m pip install --upgrade pip
          pip install -U commitizen

      - name: Dry run to get new tag
        id: get_tag
        run: |
          t=$(cz bump --yes --no-verify --changelog --dry-run)
          echo "t=$t"
          TAG=$(cz bump --yes --no-verify --changelog --dry-run | awk -F': ' '/tag to create/{print $2}')

          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Bump version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          cz bump --yes
          git push origin HEAD:master
          git push origin --tags

  build-and-push:
    runs-on: ubuntu-latest
    needs: bump-version

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push v3.12
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.3_12
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/python-uv_3.12:${{ env.tag }}
