name: Build & Push Docker Image to Docker Hub

on:
  push:
    tags:
      - "v*"

jobs:
  build:
    if: github.event.pull_request.merged == true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Get tag
        run: echo "TAG=${GITHUB_REF_NAME}" >> $GITHUB_ENV

      - name: Get last tag for merge commit
        id: get_tag
        run: |
          git fetch --tags
          TAG=$(git describe --tags $MERGE_COMMIT)
          echo "TAG=$TAG"
          echo "TAG=$TAG" >> $GITHUB_ENV

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          file: Dockerfile.3_12
          push: true
          tags: |
            ${{ secrets.DOCKER_USERNAME }}/python-uv:${{ env.TAG }}
            ${{ secrets.DOCKER_USERNAME }}/python-uv:latest

#      - name: Build Docker image
#        run: |
#          docker build -f  -t ${{ secrets.DOCKER_USERNAME }}/python-uv:$TAG .
#
#      - name: Push Docker image
#        run: |
#          docker push ${{ secrets.DOCKER_USERNAME }}/python-uv:$TAG
